


<div class="row">
    <div class="col-md-12 text-center">
        <p>
            Ingrese con su cuenta preferida
        </p>
 
        <button type="button" class="btn btn-outline-primary"
            (click)="ingresar('google')"> 
            <i class="fa fa-google"></i>
            Google
        </button>&nbsp;

        <button type="button" class="btn btn-outline-info"
            (click)="ingresar('twitter')">
            <i class="fa fa-twitter"></i>
            Twitter 
        </button>
    </div>
</div>

